In [199]:
import pandas as pd
import requests
import pprint

#### 1.) Using the code from the lesson as a guide and the REST API from https://python.zach.lol/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [419]:
response = requests.get('https://python.zach.lol/api/v1/items')
items = response.json()
items.keys()

dict_keys(['payload', 'status'])

In [420]:
items['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [421]:
# creating a dataframe, here I specified 
items_df = pd.DataFrame(items['payload']['items'])
items_df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [ ]:
items_page3_payload = page3_items_response.json()['payload']

In [268]:
response = requests.get('https://python.zach.lol/api/v1/items')
items = response.json()
items.keys()

dict_keys(['payload', 'status'])

### 2.) Do the same thing, but for stores (https://python.zach.lol/api/v1/stores)

In [34]:
response = requests.get('https://python.zach.lol/api/v1/stores')
store = response.json()['payload']
store

{'max_page': 1,
 'next_page': None,
 'page': 1,
 'previous_page': None,
 'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
   'store_city': 'San Antonio',
   'store_id': 1,
   'store_state': 'TX',
   'store_zipcode': '78253'},
  {'store_address': '9255 FM 471 West',
   'store_city': 'San Antonio',
   'store_id': 2,
   'store_state': 'TX',
   'store_zipcode': '78251'},
  {'store_address': '2118 Fredericksburg Rdj',
   'store_city': 'San Antonio',
   'store_id': 3,
   'store_state': 'TX',
   'store_zipcode': '78201'},
  {'store_address': '516 S Flores St',
   'store_city': 'San Antonio',
   'store_id': 4,
   'store_state': 'TX',
   'store_zipcode': '78204'},
  {'store_address': '1520 Austin Hwy',
   'store_city': 'San Antonio',
   'store_id': 5,
   'store_state': 'TX',
   'store_zipcode': '78218'},
  {'store_address': '1015 S WW White Rd',
   'store_city': 'San Antonio',
   'store_id': 6,
   'store_state': 'TX',
   'store_zipcode': '78220'},
  {'store_address': '12018 Perrin Beitel Rd',
   'store_city': 'San Antonio',
   'store_id': 7,
   'store_state': 'TX',
   'store_zipcode': '78217'},
  {'store_address': '15000 San Pedro Ave',
   'store_city': 'San Antonio',
   'store_id': 8,
   'store_state': 'TX',
   'store_zipcode': '78232'},
  {'store_address': '735 SW Military Dr',
   'store_city': 'San Antonio',
   'store_id': 9,
   'store_state': 'TX',
   'store_zipcode': '78221'},
  {'store_address': '8503 NW Military Hwy',
   'store_city': 'San Antonio',
   'store_id': 10,
   'store_state': 'TX',
   'store_zipcode': '78231'}]}

In [35]:
#store keys
store.keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [38]:
# creating a dataframe, here I specified 
stores_df = pd.DataFrame(store['stores'])
stores_df.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

### 3.) Extract the data for sales (https://python.zach.lol/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [95]:
response = requests.get('https://python.zach.lol/api/v1/sales')
sales = response.json()
sales.keys()

dict_keys(['payload', 'status'])

In [96]:
page_list = []
#creating our response
response = requests.get('https://python.zach.lol/api/v1/sales')
#getting our data from json
sales = response.json()

n = sales['payload']['max_page']


for i in range(1,n+1):
    #craft url each time
    url = 'https://python.zach.lol/api/v1/sales?page='+str(i)
    #get the data
    response = requests.get(url)
    data = response.json()
    #get the items from the data
    page_items = data['payload']['sales']
    #self concatnate
    page_list += page_items

In [97]:
sales_df = pd.DataFrame(page_list)

In [ ]:
df.to_csv('sales_df.csv')

### 4.) Save the data in your files to local csv files so that it will be faster to access in the future.

In [54]:
sales_df.to_csv('sales_df.csv')

In [55]:
stores_df.to_csv('stores_df.csv')

In [57]:
items_df.to_csv('items_df.csv')

5.) Combine the data from your three separate dataframes into one large dataframe.

In [66]:
sales_df.head(1)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1

In [67]:
stores_df.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [68]:
items_df.head(1)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [71]:
df1 = pd.merge(
    sales_df,
    stores_df,
    how='inner',
    left_on = 'store',
    right_on='store_id')
df1.head()

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [72]:
store_item_sales = pd.merge(
    df1,
    items_df,
    how='inner',
    left_on = 'item',
    right_on='item_id')

In [73]:
store_item_sales.to_csv('store_item_sales.csv')

### 6.) Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [85]:
germany_power = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [86]:
germany_power.to_csv('germany_power.csv')

### 7.) Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [401]:
def API_info(url):
    '''
    function to see keys for info prior to utilizing create_df_api_standard.
    '''
    response = requests.get(url)
    data = response.json()
    data_keys = data.keys()
    for key in data_keys.:
        print(key)

In [ ]:
def API_info(url, name):
    response = requests.get(url)
    data = response.json()
    print('please enter key')
    print(data.keys())
    print(data[str(input())].keys())
    print('please input key and key of nested')
    df = pd.DataFrame(data[str(input())][str(input())])
    df.to_csv(name + '.csv')

In [ ]:
url = 'https://python.zach.lol/api/v1/items'

In [ ]:
API_info(url, 'test2')

In [402]:
def create_df_api_standard(url, key, item, name):
    '''
    Only for single page.
    prior to running this function need to know url and keys so as to specifiy which field within the data you 
    wish to create a DF on.
    '''
    response = requests.get(url)
    data = response.json()
    df = pd.DataFrame(data[key][item])
    df.to_csv(name + '.csv')
    
    return df

In [403]:
url = 'https://python.zach.lol/api/v1/items'

In [ ]:
# creating a dataframe, here I specified 
items_df = pd.DataFrame(items['payload']['items'])
items_df.head()